[include]
	path = ~/.gitconfig.private
[rerere]
	enabled = 1
[color]
	ui = auto
[merge]
	tool = emerge
[instaweb]
	port = 4321
	#httpd = /opt/local/apache2/bin/httpd
	#modulepath = /opt/local/apache2/modules
	local = true
[push]
	default = tracking
[diff]
	tool = opendiff
	guitool = opendiff
	renames = copies
[apply]
	whitespace = error
[alias]
	pff = pull --ff-only
	mff = merge --ff-only
	mc = merge --no-ff
	mom = merge origin/master
	pom = pull origin master
	mm = merge master
	dom = diff origin/master
	dm = diff master
	du = diff @{upstream}
	ds = diff --stat
	dsom = diff --stat origin/master
	dsm = diff --stat master
	dsu = diff --stat @{upstream}
	lom = log ^origin/master HEAD
	lm = log ^master HEAD
	lu = log ^@{upstream} HEAD
	lsom = log --stat ^origin/master HEAD
	lsm = log --stat ^master HEAD
	lsu = log --stat ^@{upstream} HEAD
	ssb = status -sb
	co = checkout
	dt = difftool
	dtom = difftool origin/master
	wdiff = diff --word-diff
[rebase]
	autosquash = 1
