[include]
	path = ~/.gitconfig.private
[color]
	ui = auto
[merge]
	tool = emerge
	renamelimit = 2048
[instaweb]
	port = 4321
	#httpd = /opt/local/apache2/bin/httpd
	#modulepath = /opt/local/apache2/modules
	local = true
[push]
	default = tracking
[diff]
	tool = opendiff
	guitool = opendiff
	renames = copies
	algorithm = histogram
	indentHeuristic = on
[difftool "opendiff"]
	# A little script that tries to hide the useless merge pane.
	path = opendiff-nomerge
[apply]
	whitespace = error
[alias]
	ssb = status -sb
	co = checkout
	wdiff = diff --word-diff
	conflicts = diff --name-only --diff-filter=U --relative
	# Nice output for scripts.
	ls-branches = for-each-ref --format='%(refname:lstrip=2)' refs/heads/*
	fzf-rm-branches = !git ls-branches \
		| fzf -m --preview='git log -10 --no-merges {}' \
		| git branch -D

	# Verbs:
	# p = pull
	# m = merge
	# d = diff
	# dt = difftool
	# l = log
	#
	# Modifiers:
	# ff = --ff-only
	# c = --no-ff (merge a (c)hild branch)
	# s = --stat
	#
	# Objects:
	# m = master
	# om = origin/master
	# lom = last merge with origin/master
	# u = upstream
	# p = parent branch (concept at my employer)
	# op = parent branch from origin

	pom = pull origin master
	pff = pull --ff-only

	mm = merge master
	mom = merge origin/master
	mff = merge --ff-only
	mc = merge --no-ff --no-edit
	mp = !p=$(git parent-branch) && git merge "$p"
	mop = !p=$(git parent-branch) && git merge origin/"$p"

	dm = diff master
	dom = diff origin/master
	dlom = diff origin/master...
	du = diff @{upstream}
	dp = !p=$(git parent-branch) && git diff "$p"
	dop = !p=$(git parent-branch) && git diff origin/"$p"

	ds = diff --stat
	dsm = diff --stat master
	dsom = diff --stat origin/master
	dslom = diff --stat origin/master...
	dsu = diff --stat @{upstream}
	dsp = !p=$(git parent-branch) && git ds "$p"
	dsop = !p=$(git parent-branch) && git ds origin/"$p"

	dt = difftool
	dtm = difftool master
	dtom = difftool origin/master
	dtlom = difftool origin/master...
	dtu = difftool @{upstream}
	dtp = !p=$(git parent-branch) && git dt "$p"
	dtop = !p=$(git parent-branch) && git dt origin/"$p"

	lm = log ^master HEAD
	lom = log ^origin/master HEAD
	lu = log ^@{upstream} HEAD
	lp = !p=$(git parent-branch) && git log ^"$p" HEAD
	lop = !p=$(git parent-branch) && git log ^origin/"$p" HEAD

	ls = log --stat
	lsm = log --stat ^master HEAD
	lsom = log --stat ^origin/master HEAD
	lsu = log --stat ^@{upstream} HEAD
	lsp = !p=$(git parent-branch) && git ls ^"$p" HEAD
	lsop = !p=$(git parent-branch) && git ls ^origin/"$p" HEAD

[rebase]
	autosquash = 1
[status]
	# This is the default, but without this Magit will try and
	# show all untracked files, even descending into
	# untracked directories, which can make for a very big
	# buffer.
	showUntrackedFiles = normal
[interactive]
	diffFilter = diff-highlighter
[core]
	pager = diff-highlighter | less --tabs=4 -RF
[grep]
	patternType = perl
[diff-so-fancy]
	markEmptyLines = false
