[include]
	path = ~/.gitconfig.private
[color]
	ui = auto
[merge]
	tool = emerge
	renamelimit = 2048
	conflictStyle = zdiff3
[instaweb]
	port = 4321
	#httpd = /opt/local/apache2/bin/httpd
	#modulepath = /opt/local/apache2/modules
	local = true
[push]
	default = tracking
	autoSetupRemote = true
[diff]
	tool = opendiff
	guitool = opendiff
	renames = copies
	algorithm = histogram
	indentHeuristic = on
[difftool "opendiff"]
	# A little script that tries to hide the useless merge pane.
	path = opendiff-nomerge
[apply]
	whitespace = error
[alias]
	b = branch
	ssb = status -sb
	dc = diff --cached
	co = checkout
	wdiff = diff --word-diff
	conflicts = diff --name-only --diff-filter=U --relative
	# Nice output for scripts.
	ls-branches = for-each-ref --format='%(refname:lstrip=2)' refs/heads/*
	fzf-rm-branches = !git ls-branches \
		| fzf -m --preview='git log -10 --no-merges {}' \
		| git branch -D

	# Verbs:
	# p = pull
	# m = merge
	# d = diff
	# dt = difftool
	# l = log
	#
	# Modifiers:
	# ff = --ff-only
	# c = --no-ff (merge a (c)hild branch)
	# s = --stat
	#
	# Objects:
	# m = main
	# om = origin/HEAD (should be main or master)
	# lom = last merge with origin/HEAD
	# u = upstream
	#
	# If upstream main branch is called master, do:
	#
	#     git symbolic-ref refs/heads/main ref/heads/master

	pff = pull --ff-only

	mm = merge main
	mom = merge refs/remotes/origin/HEAD
	mff = merge --ff-only
	mc = merge --no-ff --no-edit

	dm = diff main
	dom = diff refs/remotes/origin/HEAD
	dlom = diff refs/remotes/origin/HEAD...
	du = diff @{upstream}
	# Extra one, for when upstream is ahead and you want to see
	# what they've changed.  (I usually use "git du" when I want
	# to see what I'm about to push.)
	dur = diff ...@{upstream}

	ds = diff --stat
	dsm = diff --stat main
	dsom = diff --stat refs/remotes/origin/HEAD
	dslom = diff --stat refs/remotes/origin/HEAD...
	dsu = diff --stat @{upstream}

	dt = difftool
	dtm = difftool main
	dtom = difftool refs/remotes/origin/HEAD
	dtlom = difftool refs/remotes/origin/HEAD...
	dtu = difftool @{upstream}

	lm = log ^main HEAD
	lom = log ^refs/remotes/origin/HEAD HEAD
	lu = log ^@{upstream} HEAD

	ls = log --stat
	lsm = log --stat ^main HEAD
	lsom = log --stat ^refs/remotes/origin/HEAD HEAD
	lsu = log --stat ^@{upstream} HEAD

[rebase]
	autosquash = 1
[status]
	# This is the default, but without this Magit will try and
	# show all untracked files, even descending into
	# untracked directories, which can make for a very big
	# buffer.
	showUntrackedFiles = normal
[interactive]
	diffFilter = diff-highlighter
[core]
	pager = diff-highlighter | less --tabs=4 -RF
[grep]
	patternType = perl
[diff-so-fancy]
	markEmptyLines = false
[magit]
	hideCampaign = true
[log]
	decorate = no
[pull]
	rebase = false
[init]
	defaultBranch = main
